body{
   background: black;
   color: rgb(217, 174, 73);
   font-family: 'Bacasime Antique', serif;
    font-family: 'Poppins', sans-serif;
    
}

main{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
}

.boy{
    padding: 1rem;
    background-color: rgb(30, 30, 248);
    cursor: pointer;
    border: 0;
    color: rgb(8, 8, 7);
    font-size: 1.023rem;
 
}

.girl{
    padding: 1rem;
    background-color: rgb(252, 138, 157);
    cursor: pointer;
    border: 0;
    color: rgb(8, 8, 7);
    font-size: 1.023rem;

}

footer{
    position: absolute;
    bottom: 0;
    font-size: small;
}

.exit1 {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: 0;
    color:  rgb(209, 163, 57);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 9rem;
}